= image_tag @recipe.image.url(:medium, class: 'recipe_image')
h1= @recipe.title
p= @recipe.description

= link_to 'Назад', root_path, class: 'btn btn-default'
= link_to 'Ред.', edit_recipe_path, class: 'btn btn-default'
= link_to 'Удалить', recipe_path, method: :delete, class: 'btn btn-default', data: {confirm: "Вы уверены?"}
